* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	text-align: center;
	height: 100vh;
	width: 100vw;
}

.container {
	margin: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="date"] {
	padding: 8px;
	font-size: 16px;
	border-radius: 10px;
	border: 1px solid black;
}

button {
	padding: 10px 20px;
	font-size: 18px;
	background-color: #5c5c5c;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 10px;
}

.result {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 70%;
}

p {
	font-size: 30px;
}

span {
	font-size: 100px;
}

@media screen and (max-width: 600px) {
	input[type="date"] {
		width: 90%;
	}

	button {
		width: 80%;
		margin-top: 10px;
	}

	.result {
		font-size: 30px;
	}
}
